@*@using Microsoft.AspNet.Identity*@
@if (Request.Cookies["MyCookie"]?.Values["AccessToken"] != null)
{
    using (Html.BeginForm("LogOff", "UserManagement", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Request.Cookies["MyCookie"].Values["Username"], "ChangePassword", "UserManagement", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "UserManagement", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "UserManagement", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}