@model HouseholdBudgeter_Mvc.Models.ApiErrorMessage

<h2>Information Error</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>

        <h3>@Model.Message</h3>
        <h3>@Model.ModelState</h3>
    </hgroup>
</body>
</html>
